/*=============Background color==========*/
body {
    background: #093028;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00c3ff, #ffff1c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00c3ff, #ffff1c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    
}

.test{
    font-family: monospace;
    font-size: 28px;
}
.test1{
    font-family: monospace;
    font-size: 22px;
}

.myCol1{
    margin-top: 100px;
    font-size: 28px;
}

.myCol{
        position: absolute;
        width: 500px;
        height: auto;
        background-color: #b0f5ef;
        border-radius: 20%;
        border-style: ridge;
        margin-top: 50px;
        
}

.catAlt{
    margin-top: -15px;

}

h1 {
    text-align: center;
    line-height: 30px;
}



div {
    text-align: center;
}

content{
    width: 560px;
    height: 240px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    background-color: #000000;
}

.btn1{
    border-radius: 20%;
    background-color: #ffff1c;
       
}


.btn1:hover {
    color: #00F260;
}

.appCon{
        position: relative;
        width: 500px;
        height: 450px;
        background-color: #b0f5ef;
        border-radius: 20%;
        border-style: ridge;
        margin-top: 50px;
        
        
}

